<div class="user-actions-page">
  <h2>Sign up</h2>
  <div class="form">
    <%= form_for(resource, as: resource_name, class: 'register-form', url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      <%= f.email_field :email, placeholder: 'email', autofocus: true %>
      <%= f.password_field :password, placeholder: 'password' + (" (#{@minimum_password_length} characters minimum)" if @minimum_password_length), autocomplete: "off" %>
      <%= f.password_field :password_confirmation, placeholder: 'password confirmation', autocomplete: "off" %>
      <%= f.submit "Sign up" %>
      <p class="message"><%= render "devise/shared/links" %></p>
    <% end %>
  </div>
</div>