<%=
  link_to('Show', article) + ' ' +
  (
    (
      link_to('Edit', edit_article_path(article)) + ' ' + 
      link_to('Destroy', article, method: :delete, data: { confirm: 'Are you sure?' })
    ) if user_signed_in?
  )
%>