<div class="message">
  <%=
  link_to('All Articles', articles_path, class: 'link-button') + ' ' +  
  link_to('Articles withoud Datatable', articles_without_datatable_path, class: 'link-button') + ' ' +  
  (
    if user_signed_in?
    link_to('My Articles', my_articles_path, class: 'link-button') + ' ' +
    link_to('New Article', new_article_path, class: 'link-button')  + ' ' +
    link_to("Logout #{current_user.email}", destroy_user_session_path, class: 'link-button', method: :delete)
    else
    link_to('Login', new_user_session_path, class: 'link-button')
    end
  )
  %>
</div>