<div class="edit-page">
  <h2><%= yield :title%></h2>
  <div class="form ck-form">
    <%= form_with(model: article, local: true) do |form| %>
      <% if article.errors.any? %>
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <div class="alert alert-alert">
        <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
      <%= form.label :title %>
      <%= form.text_field :title, id: :article_title, placeholder: "Title" %>
      <%= form.label :content %>
      <%#<%= form.text_area :content, id: :article_content, placeholder: "Content" %>
      <%= cktext_area :article, :content, cols: 40, ckeditor: { uiColor: '#ffffff', toolbar: 'mini' } %>
      <%= form.label :programming_language %>      
      <%= form.collection_select :programming_language_id, ProgrammingLanguage.all, :id, :name, {}%>
      <%= form.submit %>
      <p class="message"><%= yield :links %></p>
    <% end %>
  </div>
</div>
