<div id="demo">
  <h2>Articles</h2>
  
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <form action=''>
    <input type="text" name="search" placeholder="Search.." class="search" />
  </form>
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Programming Language</th>
        <th>Creator</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% if @articles %>
      <% @articles.each do |article| %>
          <tr>
            <td><%= article.id %></td>
            <td><%= article.title %></td>
            <td><%= article.programming_language.name %></td>
            <td><%= article.user.email %></td>
            <td>
              <%= render 'actions', {article: article} %>
            </td>
          </tr>
      <% end %>
    <% else %>
        <%= raw("<tr><td>No records found</td></tr>")%>
    <% end %>
    </tbody>
    </table>
  </div>
</div>
<div class="footer-articles-container">
    <div class="pagination-wrapper">    
        <%= paginate @articles %>
    </div>
    <%= render 'footer_buttons' %>
</div>