<div class="articles-page">
  <div class="articles-container">
    <h1><%= @title %></h1>
    <table id="articles-table", data-source="<%= url_for(format: :json) %>">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Programming Language</th>
          <th>Creator</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <%= render 'footer_buttons' %>
  </div>
</div>
