<div class="show-page">
  <div class="articles-container text-left">
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= raw @article.content %>
  </p>
  <p>
    <strong>Programming Language:</strong>
    <%= @article.programming_language.name %>
  </p>
  <p>
    <strong>Creator:</strong>
    <%= @article.user.email %>
  </p>
  <div class="message">
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Articles', articles_path %>
  </div>
</div>
</div>