<div class="user-actions-page">
  <h2>Change your password</h2>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
      <%= f.password_field :password, placeholder: 'password' + (" (#{@minimum_password_length} characters minimum)" if @minimum_password_length), autofocus: true, autocomplete: "off" %>
      <%= f.password_field :password_confirmation, placeholder: 'password confirmation', autocomplete: "off" %>
      <%= f.submit "Change my password" %>
      <p class="message"><%= render "devise/shared/links" %></p>
    <% end %>
  </div>
</div>
