<div class="user-actions-page">
  <h2>Forgot your password?</h2>
  <div class="form">
  <%= form_for(resource, as: resource_name, class: 'forgot-form', url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
      <%= f.email_field :email, placeholder: 'email', autofocus: true %>
      <%= f.submit "Send me reset password" %>
      <p class="message"><%= render "devise/shared/links" %></p>
    <% end %>
  </div>
</div>