<div class="user-actions-page">
  <h2>Log in</h2>
  <div class="form">
    <%= form_for(resource, as: resource_name, class: 'login-form"', url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, placeholder: 'email', autofocus: true %>
      <%= f.password_field :password, placeholder: 'password', autocomplete: "off" %>
      <%= f.submit "Log in" %>
      <p class="message"><%= render "devise/shared/links" %></p>
    <% end %>
  </div>
</div>
