<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css', 'data-turbolinks-track': 'reload'  %>
    
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js', integrity: 'sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin: 'anonymous' %>  
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%= body_class %>">
    <%= render 'layouts/messages' %>
    <%= yield %>

    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js' %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js", 'data-turbolinks-track': 'reload'  %>
    
    <script>hljs.initHighlightingOnLoad();</script>

  </body>
</html>
